:root {
  --member-width: 300px;
}

@media (max-width: 767px) {
  body {
    margin-top: 60px;
  }
}

a {
  text-decoration: underline;
}

.sticky {    
  position: fixed;
  top: 0;
  width: 100%;
}

.css-chmvbz {
    background-image: url('../img/ring2.png');
    background-repeat: no-repeat;
    background-size: contain; /* Make the image cover the div */
    background-position: 36% /* Center the image inside the div */
}

div.wedding-party {
  max-width: 90%;
}

div.wedding-party > * {
  text-wrap: wrap;
  
  background-repeat: no-repeat;
}

div.wedding-party > *:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Desktop */
@media (min-width: 641px) {

  div.wedding-party > * {
    background-position: left center;
    background-size: clamp(100px, 80%, var(--member-width)) auto;
    padding-left: calc(var(--member-width) + 8px);
    box-shadow: 0 0 4px 4px white inset;
    min-height: 280px;
    align-items: center;
    display: flex;
  }

  div.wedding-party > *:nth-child(odd) {
      background-position: right center;
      padding-left: 0;
      padding-right: calc(var(--member-width) + 8px);
      box-shadow: 0 0 4px 4px white inset;
  }
  
  .css-rzmzie {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile view */
@media (max-width: 640px) {
  
  div.wedding-party > * {
    padding: 0px;
    background-size: auto clamp(100px, 100%, var(--member-width));
    padding-top: calc(var(--member-width) + 8px);
    background-position-x: center;
    /* text-wrap: nowrap */
  }
}

#our-story pre, #lodging p {
  max-width: 100%;
  text-wrap: pretty;
  margin-left: 1em;
}

#lodging p {
  max-width: 80%;
  margin: 1em 2em;
  text-align: center;
}

#lodging p a {
  color: var(--tkww-union-links-default-color, var(--tkww-union-color-link-on-light, var(--tkww-union-color-additional-01extra-400, #0073E6)))
}

#lodging br {
  line-height: 1.2em;
}

/* affects headings */ 
.css-144vr5q {
  padding: 0 10px 16px;
}
