:root {
  --member-width: 300px;
}

@media (max-width: 767px) {
  body {
    margin-top: 60px;
  }
}

.sticky {    
  position: fixed;
  top: 0;
  width: 100%;
}

.css-chmvbz {
    background-image: url('../img/ring2.png');
    background-repeat: no-repeat;
    background-size: contain; /* Make the image cover the div */
    background-position: 36% /* Center the image inside the div */
}

div.wedding-party {
  margin: 0px 20em;
  max-width: 90%;
}

div.wedding-party pre {
  text-wrap: wrap;  
  grid-column: span 2;
  
  /* background-size: contain; */
    background-position: left top;
  background-size: clamp(100px, 80%, var(--member-width)) auto;
  background-repeat: no-repeat;
  padding-left: var(--member-width);
}

.wedding-party pre:nth-child(odd) {
    background-color: #f9f9f9;
    background-position: right top;
    padding-left: 0;
    padding-right: var(--member-width);
}
